#profile-avatar{
    width: 150px;
    height: 150px;
    border: 3px solid gray;

}

.left-side-product-box img {
    width: 100%;
}

.product-detail-div-hedding {
    font-size: 20px;
    color: #141313;
}

.product-cart-dropdown-div{
    float:right;
}

.product-cart-dropdown-div .product-cart-dropdown-menu-div{
    padding:20px;
    top:30px !important;
    width:350px !important;
    left:-110px !important;
    box-shadow:0px 5px 30px black;
}

.total-header-section{
    border-bottom:1px solid #d2d2d2;
}

.total-section p{
    margin-bottom:20px;
}

.cart-detail{
    padding:15px 0px;
}

.cart-detail-img img{
    width:100%;
    height:100%;
    padding-left:15px;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
    cursor: pointer;
}

.emp-card{
    transition: all 0.3s;
}

.emp-card:hover{
    transform: scale(1.15);
}

#update-profile-image-button, #delete-product-list-button, #delete-office-boy-button, #remove-cart-item-button, #user-listing-image{
    margin-right: 10px;
}

#update-profile-image-button, #delete-product-list-button, #delete-office-boy-button{
    margin-right: 0.5rem;
}

#create-btn-on-listing{
    margin-right: 1.5rem
}

#office-boy-icon-div, #product-card-icon-div, #top-up-icon-div,
#add-off-day-icon-div, #time-settings-icon-div, #edit-balance-icon-div{
    width: 50px;
    height: 50px;
}

.dz-remove {
    color: #fff;
    background-color: #f55353;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#image-preview{
    height: 150px;
    border: 2px solid gray;
}

.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image_container span {
    top: -6px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

#cart-listing-image{
    margin-right: 10px;
}

.btn .badge{
    background-color: rgb(227, 68, 68);
}

#total-price-div, #continue-btn-div{
    text-align: right;
}

#modal-total-price-div{
    text-align: right;
}

input.largerCheckbox{
    width: 20px;
    height: 20px;
}

.largerCheckbox {
    margin-left: 10px; /* Add desired left margin */
}

#product-desc-para{
    max-height: 15em;
    max-width: 8em;
}

