#profile-avatar{
    width: 150px;
    height: 150px;
    border: 3px solid gray;

}

#update-profile-image-button, #delete-product-list-button, #delete-office-boy-button{
    margin-right: 0.5rem;
}

#create-btn-on-listing{
    margin-right: 1.5rem
}

#office-boy-card{
    margin-left: 50px;
}

.dz-remove {
    color: #fff;
    background-color: #f55353;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#image-preview{
    height: 150px;
    border: 2px solid gray;
}

.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
}

.image_container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image_container span {
    top: -6px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

#product-card-main-div{
    width: 18rem;
}

#product-card-font-div{
    width: 50px;
    height: 50px;
}
